html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color:#FAFAFA;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 600px;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 90%;
}

a {
  color: #09BC8A;
}

header {
  font-size: 18px;
  background: #2D2D2A;
  padding: 1rem;
  padding-right: 2rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 32px;
  font-weight: 700;
}

header nav  a {
  color: white;
  text-decoration: none;
}

.navlink {
  margin-left: 25px;
  padding: 0 0 5px;
}

.active-navlink {
  border-bottom: 2px solid white;
}

.logout-button {
  margin-left: 15px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  background: white;
  color: #2D2D2A
}

.logout-button:hover {
  color: white;
  border: 1px solid white;
  background-color: #2D2D2A;
  transition: all .2s ease;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-card {
  padding: 30px;
  width: 400px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin-top: 10%;
  border: 1px solid #e6e6e6;
  background-color: #fff;
}

.auth form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.auth input, .auth button {
  font-size: 18px;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.4);
}

.auth input:focus{
  outline: none !important;
  border-color: #09BC8A;
}

.auth button {
  border: 1px solid #09BC8A;
  background-color: #09BC8A;
  color: white;
  font-weight: bold;
  cursor:pointer;
}

.auth h1 {
  color: #2D2D2A;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.auth-text {
  text-align: center;
}

.auth-text a {
  color: #09BC8A;
}

.auth-error {
  font-size: 18px;
  background: #EDBFC6;
  text-align: center;
  padding: 15px;
  color: #1f2d3d;
  width: 400px;
  max-width: 90%;
  border: 1px solid #e6e6e6;
  border-radius:4px;
  margin-top: 30px;
}

.joke-list {
  padding: 0;
  list-style-type: none;
}

.joke-list-item {
  background-color: #fff;
  margin-bottom: 20px;
  border: 1px solid #e6e6e6;
  padding: 15px;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 4px;
}

